:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Smooth scroll для Mantine ScrollArea */
[data-radix-scroll-area-viewport] {
  scroll-behavior: smooth !important;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}



/* Убираем фокус-обводку у нод */
.react-flow__node:focus,
.react-flow__node:focus-visible {
  outline: none !important;
}

/* Иногда outline появляется на внутреннем div */
.react-flow__node *:focus,
.react-flow__node *:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}